{% raw %}
{% load staticfiles cms_tags sekizai_tags %}
{% endraw %}
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{cookiecutter.project_name}}</title>

    {% raw %}
    {% render_block "css" %}
    {% endraw %}

    {% raw %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    {% endraw %}

  </head>
  <body>
    {% raw %}
    {% cms_toolbar %}
    {% block content %}
    {% endblock %}
    {% endraw %}



    {% raw %}
    {% render_block "js" %}
    {% endraw %}
  </body>
</html>
