Django==1.9.7
django-classy-tags==0.7.2
django-cms==3.3.0
django-formtools==1.0
django-sekizai==0.9.0
djangocms-text-ckeditor==3.0.0
ipdb==0.9.3
pexpect==4.0.1
Pillow==3.2.0
uWSGI==2.0.12
dj-database-url==0.4.1
psycopg2==2.6.1
django-filer==1.2.2
cmsplugin-filer==1.1.1
pyjade==4.0.0
django-reversion<=1.11
