{% raw %}
{% extends 'base.html' %}
{% load cms_tags menu_tags %}

{% block content %}

<nav class="navbar navbar-light bg-faded">
  <button type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" class="navbar-toggler hidden-sm-up">&#9776;</button>
  <div id="exCollapsingNavbar2" class="collapse navbar-toggleable-xs"><a href="#" class="navbar-brand">{% endraw %} {{cookiecutter.project_name}} {% raw %}</a>
    <ul class="nav navbar-nav">{% show_menu 0 2 100 100 "partials/_menu.html" %}

    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-sm-12">{%  placeholder content %}
    </div>
  </div>
</div>
{% endblock %}

{% endraw %}
